@inherits LayoutComponentBase
<header class="header">
    <div id="top" role="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a class="header_logo" href="https://www.booking.com/index.fr.html?aid=397594&amp;label=gog235jc-1DCAEoggI46AdIDVgDaE2IAQGYAQ24ARfIAQzYAQPoAQH4AQKIAgGoAgO4Ar_Gt_cFwAIB0gIkZWQ2NTc2MmMtZTVkMC00OTQ0LTk0YTQtNGI4M2QyYmJmZWE42AIE4AIB&amp;sid=6a2f06860d6cf456c234b40381f413c8&amp;srpvid=66586915b03202ca&amp;click_from_logo=1" style="text-decoration: none;">
                        <img id="logo" class="" src="https://q-cf.bstatic.com/static/img/b26logo/booking_logo_retina/22615963add19ac6b6d715a97c8d477e8b95b7ea.png" alt="Booking.com réservations d'hôtels en ligne">
                    </a>

                </div>
                <div class="d-none d-sm-block col-md user-form text-right">
                  <ul>
                      <li>
                          <a href="#" class="popover-trigger">€</a>
                      </li>
                      <li>
                          <a href="#" class="popover-trigger"><img src="https://r-cf.bstatic.com/static/img/flags/24/fr/c3dafe717a0b4b97e6ddd0d791e8a018d8f96310.png" alt="Français"></a>
                      </li>
                  </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="cross-product-bar">CROSSPRODUCT</div>
    <div id="alt-bar">ALTERNATIVE BAR</div>
</header>
<div id="main" class="container">
    MAIN CONTENT
    @Body
</div>
<footer>
    <div id="footer" role="banner">
        MAIN FOOTER
    </div>
</footer>
@code {

}
